.main-container-full{
    position: absolute;
    top:45px;
    left: 190px;
    right:0;
    bottom:0;
    overflow: hidden;
}
.main-content-fixed{
    position:absolute;height:100%;
    border:none;width:100%;
    top:0;right:0;left:0;bottom: 0;
}

.sidebar-shortcuts{
}